[Unit]
Description=DostavkaEda backend

[Service]
ExecStart=/srv/dostavka-eda/current/server.sh
User=appuser
Restart=on-failure

[Install]
WantedBy=multi-user.target
